<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../assets/images/screen-1.png" alt="Angular Carousel 1">
    </div>
 
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../assets/images/screen-2.png" alt="Angular Carousel 2">
    </div>
    
  </ng-template>
   <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../assets/images/screen-3.png" alt="Angular Carousel 3">
    </div>
 
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../assets/images/screen-4.png" alt="Angular Carousel 4">
    </div>
 
  </ng-template>
    <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../assets/images/screen-5.png" alt="Angular Carousel 5">
    </div>
 
  </ng-template>
    <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../assets/images/screen-6.png" alt="Angular Carousel 6">
    </div>
 
  </ng-template>
    <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../assets/images/screen-7.png" alt="Angular Carousel 7">
    </div>
 
  </ng-template>
   <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../assets/images/screen-8.png" alt="Angular Carousel 8">
    </div>
 
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../assets/images/screen-9.png" alt="Angular Carousel 9">
    </div>
 
  </ng-template>
    <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../assets/images/screen-10.png" alt="Angular Carousel 10">
    </div>
 
  </ng-template>
   <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../assets/images/screen-11.png" alt="Angular Carousel 11">
    </div>
 
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../assets/images/screen-12.png" alt="Angular Carousel 12">
    </div>
 
  </ng-template>
</ngb-carousel>
<button type="button" class="btn btn-primary" (click)="next()">Next</button>
